<% content_for "header" do %>
<meta name="description" content="<%= translate(locale, "AlternaTube") %>">
<title>
    AlternaTube
</title>
<% end %>

<%= rendered "components/feed_menu" %>

<p>
    <%= message %>
</p>
